
{% extends 'base.html' %}
{% load static %}

{% block content %}



   
      <table class="table">
         <thead>
           <tr>
             <th scope="col">Adres</th>
             <th scope="col">Telefon</th>
             <th scope="col">Mail</th>
             <th scope="col">İnsatgram</th>
             <th scope="col">Facebook</th>
             <th scope="col">Twitter</th>
           </tr>
         </thead>
         <tbody>
           
           <tr>
             <th scope="row">Festiva AVM SALİHLİ/MANİSA</th>
             <td><a href="tel:+905348370111">0534 837 0111</a></td>
             <td><a href="mailto:nfcaraba@gmail.com">kaangaleri@gmail.com</a></td>
             <td><a href="" class = "btn btn-warning">kaangaleri</a></td>
             <td><a href="" class = "btn btn-warning">kaangaleri</a></td>
             <td><a href="" class = "btn btn-warning">kaangaleri</a> </td>
               
           </tr>
           
           
         </tbody>
       </table>
       <div align='center'>
          <h3>Adres Konumu<h3>
             <hr size="100">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d780.7682949582203!2d28.13758052922789!3d38.48595329872726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b85a5f9914272b%3A0x94d64f5594cba52b!2sZafer%2C%2020.%20Sk.%2020%2C%2045300%20Salihli%2FManisa!5e0!3m2!1str!2str!4v1652480931221!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
       <!--  contact -->
      
      <!-- end contact -->
      <!--  footer -->
   
     {% endblock %}
