<!DOCTYPE html>
{% load static %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>NFCARABA</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <div class="classifiedDetailThumbListContainer">
    <ul class="classifiedDetailThumbListPages clearfix page-one">
        <li>
                <ul class="classifiedDetailThumbList ">
                    <li>
                            <label for="images_0" class="" data-megaindex="0">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_1025741840w7y.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    <li>
                            <label for="images_1" class="" data-megaindex="1">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_1025741840msh.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    <li>
                            <label for="images_2" class="" data-megaindex="2">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_10257418402c1.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    <li>
                            <label for="images_3" class="" data-megaindex="3">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_1025741840cwd.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    <li>
                            <label for="images_4" class="" data-megaindex="4">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_1025741840jud.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    <li>
                            <label for="images_5" class="" data-megaindex="5">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_1025741840bbb.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    <li>
                            <label for="images_6" class=" selected" data-megaindex="6">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_10257418401so.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    <li>
                            <label for="images_7" class="" data-megaindex="7">
                                <img class="thmbImg" src="http://i0.shbdn.com/photos/74/18/40/thmb_1025741840r8g.jpg" alt="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy" title="Vasıta / Otomobil / Renault / Clio / 1.0 TCe / Joy"/>
                            </label>
                        </li>
                    </ul>
            </li>
        </ul>
    <div class="classified-images-status">
        <span class="images-count">
            <span class="current-image">7</span>/8&nbsp;Fotoğraf</span>
        </div>
</div>

</div>

</div>
    </div>
    <!-- Classified Media -->

    <div class="responsive-user-box">
        <p class="info">
            <a class="phone-number" href="tel:+90-533-7464669">Ara</a>
            <span>SEDAT CİRİT</span>
            <a class="ask-question message-button" href="#">Soru Sor</a>
        </p>
        <p class="location">
            Manisa / Salihli / Beşeylül Mh.</p>
    </div>
   <body class="main-layout">
    <div class="classified-criterias">
        <!-- Price -->
        <p class="price"> 395.000 TL</p>

        <!-- Square Meter Price -->
        <!-- Location -->
        <p class="location">
            Manisa / Salihli / Beşeylül Mh.</p>

        <a href="#" id="locationMapButton" class="show-malta-paid">
            Konumu Göster
        </a>

        <!-- Criterias -->
        <ul>
            <!-- Store User -->
            <li class="store-user show-malta-paid">
                <strong>Emlak Danışmanı</strong>
                <span>SEDAT CİRİT</span>
            </li>

            <!-- Price -->
            <li class="price-list-item">
                <strong>Fiyat</strong>
                <span> 395.000 TL</span>
            </li>

            <!-- Square Meter Price -->
            <!-- Other Criterias -->
            <!-- Classified Number -->
<li>
<strong>
İlan No</strong>

<span>
1025741840</span>
</li>

<!-- Classified Date -->
<li>
<strong>
    İlan Tarihi</strong>

<span>
    14 Mayıs 2022</span>
</li>
<!-- Classified Category / Tag Attributes -->
<li>
    <strong>
        Marka</strong>

    <span>
        Renault</span>
</li>
<li>
    <strong>
        Seri</strong>

    <span>
        Clio</span>
</li>
<li>
    <strong>
        Model</strong>

    <span>
        1.0 TCe Joy</span>
</li>
<!-- Classified Attributes -->
<li>
    <strong>
        Yıl</strong>

    <span class="">
        2022</span>
</li>
<li>
    <strong>
        Yakıt</strong>

    <span class="">
        Benzin</span>
</li>
<li>
    <strong>
        Vites</strong>

    <span class="">
        Yarı Otomatik</span>
</li>
<li>
    <strong>
        KM</strong>

    <span class="">
        0</span>
</li>
<li>
    <strong>
        Kasa Tipi</strong>

    <span class="">
        Hatchback 5 kapı</span>
</li>
<li>
    <strong>
        Motor Gücü</strong>

    <span class="">
        90 hp</span>
</li>
<li>
    <strong>
        Motor Hacmi</strong>

    <span class="">
        999 cc</span>
</li>
<li>
    <strong>
        Çekiş</strong>

    <span class="">
        Önden Çekiş</span>
</li>
<li>
    <strong>
        Renk</strong>

    <span class="">
        Beyaz</span>
</li>
<li>
    <strong>
        Garanti</strong>

    <span class="">
        Evet</span>
</li>
<li>
    <strong>
        Plaka / Uyruk</strong>

    <span class="">
        Türkiye (TR) Plakalı</span>
</li>
<li>
    <strong>
        Kimden</strong>

    <span class="">
        Galeriden</span>
</li>
<li>
    <strong>
        Görüntülü Arama İle Görülebilir</strong>

    <span class="">
        Evet</span>
</li>
<!-- Classified Exchange Status -->
<li>
<strong>
    Takas</strong>

<span>
    Evet</span>
</li>
<!-- Classified Condition Status -->
<li>
<strong>
    Durumu</strong>

<span>
    Sıfır</span>
</li>
</ul>
    </div>
    <!-- Classified Criterias -->
</div>
<!-- Classified Media and Criterias -->

<div class="classified-content-area-container">
    <div class="classified-content-area">
        <ul class="content-tabs">
            <li><a href="#aciklama">Açıklama</a></li>
            <li><a href="#konum" id="locationTab">Konum</a></li>
            </ul>

        <div id="aciklama" class="description tabbing-content">
            <h2 class="show-malta-paid desktop">Genel Bakış</h2>
            <h2 class="show-malta-paid mobile">Açıklama</h2>
            <div class="description-area">
                <p>ARACIM SIFIR KM PLAKALI SATIŞA HAZIR ÇEKİCİ İLE BAYİDEN GETİRİLDİ..<br>
TESLA EKRAN<br>
BAGAJ HAVUZU<br>
BALIK SIRTI ANTEN<br>
TAKASA AÇIKTIR<br>
</p>
</div>
        </div>
        <!-- Classified Description -->

        <div id="konum" class="classified-map tabbing-content">
            <h2 class="show-malta-paid">Genel Bakış</h2>
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="external-classified-map" src="https://maps.google.com/maps?q=38.49068817691682,28.14983993768692&hl=es;z=14&amp;output=embed" allowfullscreen></iframe>
        </div>
        <!-- Classified Map -->
    </div>

    <div class="classified-content-for-mobile">
        <ul class="hide-malta-paid">
            <li><a href="#" id="descriptionButton">Açıklama</a></li>
            <li><a href="#" id="locationButton">Konum</a></li>
        </ul>

        <ul class="show-malta-paid">
            <li><a href="tel:+90-533-7464669">Ara</a></li>
            <li><a href="#" class="message-button">Mesaj Gönder</a></li>
        </ul>
    </div>
</div>
<!-- Classified Content Area Container -->

<div class="classified-specifications">
        <h2>Özellikler</h2>

        <h3>Boyalı veya Değişen Parça</h3>
            <ul>
                <li class="">
                        Ön Tampon</li>
                <li class="">
                        Motor Kaputu</li>
                <li class="">
                        Tavan</li>
                <li class="">
                        Sağ Ön Çamurluk</li>
                <li class="">
                        Sağ Ön Kapı</li>
                <li class="">
                        Sağ Arka Kapı</li>
                <li class="">
                        Sağ Arka Çamurluk</li>
                <li class="">
                        Sol Ön Çamurluk</li>
                <li class="">
                        Sol Ön Kapı</li>
                <li class="">
                        Sol Arka Kapı</li>
                <li class="">
                        Sol Arka Çamurluk</li>
                <li class="">
                        Bagaj Kapağı</li>
                <li class="">
                        Arka Tampon</li>
                </ul>
        <h3>Güvenlik</h3>
            <ul>
                <li class="">
                        ABC</li>
                <li class="selected">
                        ABS</li>
                <li class="">
                        AEB</li>
                <li class="">
                        EBP</li>
                <li class="selected">
                        ASR</li>
                <li class="selected">
                        ESP / VSA</li>
                <li class="">
                        Airmatic</li>
                <li class="">
                        EDL</li>
                <li class="">
                        EBA</li>
                <li class="selected">
                        EBD</li>
                <li class="selected">
                        TCS</li>
                <li class="selected">
                        BAS</li>
                <li class="">
                        Distronic</li>
                <li class="selected">
                        Yokuş Kalkış Desteği</li>
                <li class="">
                        Zırhlı Araç</li>
                <li class="">
                        Gece Görüş</li>
                <li class="">
                        Şeritten Ayrılma İkazı</li>
                <li class="">
                        Şerit Değiştirme Yardımcısı</li>
                <li class="">
                        Hava Yastığı (Sürücü)</li>
                <li class="">
                        Hava Yastığı (Yolcu)</li>
                <li class="selected">
                        Hava Yastığı (Yan)</li>
                <li class="">
                        Hava Yastığı (Diz)</li>
                <li class="selected">
                        Hava Yastığı (Perde)</li>
                <li class="selected">
                        Hava Yastığı (Tavan)</li>
                <li class="">
                        Kör Nokta Uyarı Sistemi</li>
                <li class="">
                        Lastik Arıza Göstergesi</li>
                <li class="">
                        Yorgunluk Tespit Sistemi</li>
                <li class="selected">
                        Isofix</li>
                <li class="">
                        Alarm</li>
                <li class="">
                        Çocuk Kilidi</li>
                <li class="">
                        Merkezi Kilit</li>
                <li class="">
                        Immobilizer</li>
                </ul>
        <h3>İç Donanım</h3>
            <ul>
                <li class="">
                        Deri Koltuk</li>
                <li class="">
                        Kumaş Koltuk</li>
                <li class="">
                        Deri / Kumaş Koltuk</li>
                <li class="">
                        Elektrikli Ön Camlar</li>
                <li class="">
                        Elektrikli Arka Camlar</li>
                <li class="selected">
                        Klima (Analog)</li>
                <li class="">
                        Klima (Dijital)</li>
                <li class="">
                        Otm.Kararan Dikiz Aynası</li>
                <li class="">
                        Ön Kol Dayama</li>
                <li class="">
                        Arka Kol Dayama</li>
                <li class="">
                        Anahtarsız Giriş ve Çalıştırma</li>
                <li class="">
                        6 İleri Vites</li>
                <li class="">
                        7 İleri Vites</li>
                <li class="selected">
                        Hidrolik Direksiyon</li>
                <li class="">
                        Fonksiyonel Direksiyon</li>
                <li class="">
                        Ayarlanabilir Direksiyon</li>
                <li class="">
                        Deri Direksiyon</li>
                <li class="">
                        Ahşap Direksiyon</li>
                <li class="">
                        Isıtmalı Direksiyon</li>
                <li class="">
                        Koltuklar (Elektrikli)</li>
                <li class="">
                        Koltuklar (Hafızalı)</li>
                <li class="">
                        Koltuklar (Katlanır)</li>
                <li class="">
                        Koltuklar (Ön Isıtmalı)</li>
                <li class="">
                        Koltuklar (Arka Isıtmalı)</li>
                <li class="">
                        Koltuklar (Soğutmalı)</li>
                <li class="selected">
                        Hız Sabitleyici</li>
                <li class="">
                        Adaptive Cruise Control</li>
                <li class="">
                        Soğutmalı Torpido</li>
                <li class="">
                        Yol Bilgisayarı</li>
                <li class="">
                        Krom Kaplama</li>
                <li class="">
                        Ahşap Kaplama</li>
                <li class="">
                        Head-up Display</li>
                <li class="selected">
                        Start / Stop</li>
                <li class="">
                        Geri Görüş Kamerası</li>
                <li class="">
                        Ön Görüş Kamerası</li>
                <li class="">
                        3. Sıra Koltuk</li>
                </ul>
        <h3>Dış Donanım</h3>
            <ul>
                <li class="">
                        Hardtop</li>
                <li class="">
                        Far (LED)</li>
                <li class="">
                        Far (Halojen)</li>
                <li class="">
                        Far (Xenon)</li>
                <li class="">
                        Far (Bi Xenon)</li>
                <li class="">
                        Far (Sis)</li>
                <li class="">
                        Far (Adaptif)</li>
                <li class="">
                        Far Gece Sensörü</li>
                <li class="">
                        Far Yıkama</li>
                <li class="">
                        Aynalar (Elektrikli)</li>
                <li class="">
                        Aynalar (Otom.Katlanır)</li>
                <li class="">
                        Aynalar (Isıtmalı)</li>
                <li class="">
                        Aynalar (Hafızalı)</li>
                <li class="">
                        Park Sensörü (Arka)</li>
                <li class="">
                        Park Sensörü (Ön)</li>
                <li class="">
                        Park Asistanı</li>
                <li class="">
                        Alaşımlı Jant</li>
                <li class="">
                        Sunroof</li>
                <li class="">
                        Panoramik Cam Tavan</li>
                <li class="">
                        Yağmur Sensörü</li>
                <li class="">
                        Arka Cam Buz Çözücü</li>
                <li class="">
                        Panoramik Ön Cam</li>
                <li class="">
                        Romörk Çeki Demiri</li>
                <li class="">
                        Akıllı Bagaj Kapağı</li>
                </ul>
        <h3>Multimedya</h3>
            <ul>
                <li class="">
                        Radyo - Kasetçalar</li>
                <li class="">
                        Radyo - CD Çalar</li>
                <li class="">
                        Radyo - MP3 Çalar</li>
                <li class="">
                        Navigasyon</li>
                <li class="">
                        TV</li>
                <li class="">
                        Bluetooth - Telefon</li>
                <li class="">
                        USB / AUX</li>
                <li class="">
                        AUX</li>
                <li class="">
                        iPod Bağlantısı</li>
                <li class="">
                        6+ Hoparlör</li>
                <li class="">
                        CD Değiştirici</li>
                <li class="">
                        Arka Eğlence Paketi</li>
                <li class="">
                        DVD Değiştirici</li>
                </ul>
        </div>
    <!-- Classified Specifications -->
</div>
     




 <script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "905348370111", // WhatsApp numarası
            call_to_action: "Merhaba, nasıl yardımcı olabilirim?", // Görüntülenecek yazı
            position: "right", // Sağ taraf için 'right' sol taraf için 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
 <!-- Javascript files-->
 <script src="/static/js/jquery.min.js"></script>
 <script src="/static/js/popper.min.js"></script>
 <script src="/static/js/bootstrap.bundle.min.js"></script>
 <script src="/static/js/jquery-3.0.0.min.js"></script>

 <!-- sidebar -->
 <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
 <script src="/static/js/custom.js"></script>
 <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

 {% block body %}
       
 {% endblock body %}

</body>
</html>
